.footer-adjustment {
  background: #343a40 !important;
  width: 100%;
  color: white;
  text-align: center;
}

.fab {
  height: 30px;
}

@media (max-width: 1024px) {
  .footer-adjustment {
    min-height: 10vh;
  }
  .footerContext {
    margin-top: 350px;
  }
}

@media (max-width: 609px) {
  .footer-adjustment {
    min-height: 30vh;
  }
  .footerContext {
    margin-top: 70px;
  }
}
