form {
  text-align: center;
  width: 100%;
  margin: 10px 1rem;
  line-height: 1.2;
}

.requiredInput {
  color: red;
  background-color: #f2f2f2;
}

form fieldset {
  width: 75%;
  margin: 0 auto;
}

form p {
  padding-left: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-dislpay {
  text-align: center;
  padding: 60px 1rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  margin: 50px 1rem 0 1rem;
}

label {
  font-style: italic;
  font-size: large;
}

.form-comment {
  height: 200px;
}

.form-spacing {
  margin: 30px 0;

  label {
    width: 100%;
  }

  input {
    border: none;
    position: relative;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); // x, y, blur, color
    width: 100%;
    text-align: center;
    border-radius: 0.8rem;
  }

  textarea {
    border: none;
    position: relative;
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); // x, y, blur, color
    width: 100%;
    text-align: center;
    border-radius: 0.8rem;
  }
}
